$dark-color : #333333;
$light-color: #FFF;
body {
  //padding-left: 100px;
  background: $light-color;
  font-family: 'Kaushan Script', cursive;
//  text-align: center;
}


.userGallery{
  display:flex;
  flex-flow:row wrap;
}

.editForm{
  // text-align: center;

}

.titleDiv{
  text-align: center;
}

#featuredPicture{
  display: flex;
  justify-content: center;
  // text-align: center;
  width:1200px;
  .mainPic,{
    height:auto;
    width:90%;
    text-align: center;
  }
}




.inputBodyHolder{
  display: flex;
  justify-content: center;
  background-image: url('http://www.desktopimages.org/preview/get_photo/73659/1280/800');
  //background-image: url('/css/girlcamera.jpg');

  background-repeat: no-repeat;
  width:1200px;
}

.loginUser, .loginPassword{
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  width:300px;
  height:35px;
}



.newInputBody{
  margin:200px 300px 300px 300px;
  width:300px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.formDiv{
border-radius: 25px;
background-color: gray;
background: rgba(255,255,255,0.5);
height: 400px;
}


.editForm{
  height:600px;
  text-align: center;
  // display: inline-block;

}

.editAuthor, .editLink, .editDescription{
width: 200px;
background-color: lightgray;
}

.editAuthor:hover, .editLink:hover, .editDescription:hover{
width: 300px;
background-color: white;
}

.editPic{
  width: 30%;
  height: 30%;
}

.user{

  filter: grayscale(100%) blur(2px) ;
}

.user:hover{
  filter: grayscale(0%);
}


.userBorder{
  background-color: black;
  padding:10px;
  margin:15px;
}

img{
  // display:flex;
  // justify-content: space-around;
  flex: 0 0 30%;
  width: 400px;
  height: auto;
  vertical-align: center;


}

h1{
  text-align: center;
  color: black;
  font-size: 70px;
  // display: flex;
  // justify-content: center;


}

h2{

  color:black;
  font-size: 70px;
  display: flex;
  justify-content: center;

}
button{
  margin-bottom: 20px;
  background: white;
  width:310px;
  height:30px;
  border:1px solid #333;
  border-radius:10px;
  display:inline;
}

.loginButton{
  display: inline;
}




