$dark-color : #333333;
$light-color: #FFF;
body {
  //padding-left: 100px;
  background: $light-color;
  font-family: 'Kaushan Script', cursive;
//  text-align: center;
}


.userGallery{
  display:flex;
  flex-flow:row wrap;
}

.editForm{
  // text-align: center;

}

.titleDiv{
  text-align: center;
}

#featuredPicture{
  display: flex;
  justify-content: center;
  // text-align: center;
  width:1200px;
  .mainPic,{
    height:auto;
    width:90%;
    text-align: center;
  }
}




.inputBodyHolder{
display: flex;
  justify-content: center;
  background-image: url('http://vinilavinilos.com/267/banksy-nina-corazon.jpg');
  background-size: 400px;
  background-position: bottom center;
  background-repeat: no-repeat;
  height:520px;
}


.newInputBody{
width:300px;
padding-left: 110px;
}


.editForm{
  text-align: center;
  // display: inline-block;

}

.editAuthor, .editLink, .editDescription{
width: 200px;
background-color: lightgray;
}

.editAuthor:hover, .editLink:hover, .editDescription:hover{
width: 300px;
background-color: white;
}

.editPic{
  width: 30%;
  height: 30%;
}

.user{

  filter: grayscale(100%) blur(2px) ;
}

.user:hover{
  filter: grayscale(0%);
}


.userBorder{
  background-color: black;
  padding:10px;
  margin:15px;
}

img{
  // display:flex;
  // justify-content: space-around;
  flex: 0 0 30%;
  width: 400px;
  height: auto;
  vertical-align: center;


}

h1{

  color: black;
  font-size: 70px;
  // display: flex;
  // justify-content: center;

}

h2{

  color:black;
  font-size: 70px;
  display: flex;
  justify-content: center;

}
button{
  background: #444;
  width:90px;
  height:20px;
  border:1px solid #333;
  border-radius:10px;
  display: flex;
  justify-content: space-around;
}

// ---------------
@import "compass/css3";

button {
  display: inline-block;
  @include box-sizing(content-box);
  cursor: pointer;
  padding: 0 20px;
  border: none;
  @include border-radius(20px);
  font: normal normal bold 20px/40px "Baumans", Helvetica, sans-serif;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  @include background(rgb(221, 221, 221));
  @include box-shadow(0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) );
  @include text-shadow(0 1px 0 #FFFFFF );
}


button:hover {
  @include background(#FFFFFF);
}


button:active {
  margin: 6px 0 0;
  @include background(rgb(221, 221, 221));
  @include box-shadow(0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) );
}


button:focus {
  @include background(rgb(221, 221, 221));
}
