/* line 3, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
body {
  background: #FFF;
  font-family: 'Kaushan Script', cursive;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white; }

/* line 14, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.usersPicNavContainer {
  text-align: right; }

/* line 18, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.title {
  flex-grow: 80; }

/* line 21, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.usersFaceNavBar {
  text-align: right;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  flex-grow: 1; }

/* line 30, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-style: solid;
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
  border-width: .5px;
  border-bottom-color: lightgray;
  position: fixed;
  width: 100%;
  background-color: white; }

/* line 45, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.addPhotoButton {
  border-color: blue;
  border-right-color: lightgray;
  flex-grow: 1; }

/* line 51, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.myPhotoButton {
  border-color: green;
  flex-grow: 1; }

/* line 61, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.addGalleryButton {
  text-align: center;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  opacity: .8; }

/* line 72, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
a, a:visited, a:hover, a:focus {
  font-color: black;
  text-decoration: none;
  outline: 0;
  color: inherit;
  border: none; }

/* line 84, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.logoutGalleryButton {
  padding-left: 100px;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  opacity: .8; }
  /* line 92, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
  .logoutGalleryButton a {
    display: hidden; }

/* line 98, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.userGallery, .userEditGallery {
  display: flex;
  flex-flow: row wrap; }

/* line 103, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.userBorder {
  background-color: transparent;
  flex-grow: 1; }

/* line 108, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.titleDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 55px; }

/* line 115, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.title {
  text-align: center; }

/* line 119, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
#featuredPicture {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -7px; }

/* line 128, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.mainPic {
  width: 80%;
  text-align: center; }

/* line 135, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.inputBodyHolder {
  background-position: top;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("/css/hipstercamera1.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

/* line 149, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.newInputBody {
  margin: 200px 200px 300px 300px;
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 158, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.formDiv, .createFormDiv {
  text-align: center;
  border-radius: 25px;
  background-color: gray;
  background: rgba(255, 255, 255, 0.5);
  height: 1130px;
  width: auto;
  margin-right: 900px; }

/* line 168, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.loginDiv, .addPhotoDiv {
  padding-top: 300px; }

/* line 172, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.editForm {
  height: 600px;
  text-align: center; }

/* line 177, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.loginUser, .loginPassword, .editAuthor, .editLink, .editDescription {
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 35px;
  width: 300px;
  height: 35px;
  width: 200px;
  background-color: lightgray; }

/* line 192, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.loginUser:hover, .loginPassword:hover {
  width: 300px;
  background-color: white; }

/* line 198, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.editPic {
  width: 30%;
  height: 30%; }

/* line 203, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.user {
  width: 413px;
  transition: all 0.3s;
  flex-grow: 1 2; }

/* line 209, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.user:hover {
  filter: grayscale(100%);
  transform: scale(1.1); }

/* line 214, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.authorTagDiv {
  display: flex;
  flex-flow: row wrap;
  width: 413px; }

/* line 220, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.authorPicTag {
  align-self: flex-start;
  flex-grow: 1; }

/* line 225, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.picTag {
  font-size: 16px; }

/* line 228, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.spacer {
  width: 100px;
  flex-grow: 2; }

/* line 232, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.profilePic {
  align-self: flex-end;
  margin-right: 0px;
  width: 50px;
  height: 50px;
  background-color: green;
  flex-grow: 1;
  overflow: hidden;
  text-align: right;
  background: transparent; }

/* line 246, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.outerUserpictureBorder {
  background-color: rgba(216, 214, 214, 0.27); }

/* line 251, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.usersFace {
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50px; }

/* line 258, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.userPictureBorder {
  text-align: center;
  overflow: hidden;
  width: 413px; }

/* line 265, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
h1 {
  text-align: center;
  color: black;
  font-size: 70px; }

/* line 271, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
h2 {
  color: black;
  font-size: 70px;
  display: flex;
  justify-content: center; }

/* line 278, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
button, button:link, button:visited {
  text-decoration: none;
  margin-bottom: 20px;
  background: white;
  width: 300px;
  height: 35px;
  border: 1px solid #333;
  border-radius: 10px;
  display: inline;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: transparent; }

/* line 296, /Users/aaronarakawa/Desktop/DevLeague/a_and_b_galleries/sass/styles.scss */
.loginButton {
  display: inline; }
