body {
  padding-left: 100px;
  background: #333333; }

.userGallery {
  display: flex;
  flex-flow: row wrap; }

#featuredPicture {
  display: flex;
  justify-content: center;
  width: 1200px; }
  #featuredPicture .mainPic {
    height: 50%;
    width: 75%; }

.userBorder {
  background-color: lightgray;
  padding: 20px;
  margin: 20px; }

img {
  flex: 0 0 30%;
  width: 300px;
  height: 170px;
  vertical-align: center; }

h1 {
  color: white;
  font-size: 100px; }
