extends ./layout.pug
include ./mixins.pug
block title
  title Create New User
block body
  form(method="POST" action="create")
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    button(type="submit") Create