extends ./layout.pug
include ./mixins.pug
block title
  title Edit
block body
  div.titleDiv
    h1 A and B Galleries
    div#featuredPictureEdit
      img.editPic(src=data.link)

    form(action='#' method='post').editForm
      p author
      p #{edit}
      input(name="author" placeholder= data.author).editAuthor
      p link
      input(name="link" placeholder=data.link).editLink
      p description
      input(name="description" placeholder= data.description).editDescription
      br
      button.button POST
        a(href="/gallery")
        button
          a(href="/gallery/new") Add a photo

      form(method="POST" action=`/gallery/${data.id}` enctype="application/x-www-form-urlencoded")
        input(type="hidden" name="_method" value="DELETE")
        button(type="submit") Delete


