extends ./layout.pug
include ./mixins.pug
block title
  title Edit
block body
  div.titleDiv
    h1 A and B Galleries
    div#featuredPictureEdit
      img.editPic(src=data.link)

    form.editForm(action='#' method='post')
      p author
      p #{edit}
      input.editAuthor(name="author" placeholder= data.author)
      p link
      input.editLink(name="link" placeholder=data.link)
      p description
      input.editDescription(name="description" placeholder= data.description)
      br
      button.button POST
        a(href="/gallery")
        button
          a(href="/gallery/new") Add a photo

      form(method="POST" action='/gallery/#{data.id}' enctype="application/x-www-form-urlencoded")
        input(type="hidden" name="_method" value="DELETE")
        button(type="submit") Delete


