extends ./layout.pug
include ./mixin.pug
block title
  title Edit
block body

  if page == 'home'
    h1 Edit photo
    form(action='#' method='post').editForm
      p author
      p #{edit}
      input(name="author" placeholder= product.name).editAuthor
      p link
      input(name="link" placeholder=product.price).editLink
      p description
      input(name="description" placeholder= product.inventory).editDescription
      br
      button.button POST
      button
        a(href="/gallery") HOME

