extends ./layout.pug
include ./mixins.pug
block title
  title Edit
block body
  div.titleDiv
    h1 A and B Galleries
    div#featuredPicture
      img.editPic(src=data.link)
    h2 Edit photo
    form(action='#' method='post').editForm
      p author
      p #{edit}
      input(name="author").editAuthor
      p link
      input(name="link").editLink
      p description
      input(name="description").editDescription
      br
      button.button POST

      button
        a(href="/gallery") HOME

  button
    a(href="/gallery/new") Add a new post

  form(method="POST" action=`/gallery/${data.id}` enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="_method" value="DELETE")
    button(type="submit") Delete

