extends ./layout.pug
include ./mixins.pug
block title
  title A and B galleries

block body
  div.navBar
    div.addPhotoButton
      button.galleryButton
        a(href="/gallery/new") Add Photo
      div.myPhotoButton
        button.galleryButton
          a(href="/gallery/myPhotos") My Photos
    div.logOutDiv
      button.galleryButton
        a(href="/logout") Logout
      div
        img.usersFaceNavBar(src=one.link)
  div.titleDiv
    h1 Gallery
    div#featuredPicture
      img.mainPic(src=one.link)
  div.userGallery
    +userGalleryList(data)


