extends ./layout.pug
include ./mixins.pug
block title
  title A & B galleries

block body
  div.navBar
    div.addPhotoButton
      button.addGalleryButton
        a(href="/gallery/new")
          img.addGalleryButton(src='/css/add.jpg')
    div.myPhotoButton
      button.galleryButton
        a(href="/gallery/myPhotos") My Photos
    div.logOutDiv
      a(href="/logout")
        img.logoutGalleryButton(src='/css/x.jpg')
  div.usersPicNavContainer
    div.titleDiv
      h1.title Gallery
      a(href="/gallery/new")
        img.usersFaceNavBar(src=profilePicture)
    div#featuredPicture
      img.mainPic(src=one.link)
  div.userGallery
    +userGalleryList(photos)


