extends ./layout.pug
include ./mixins.pug
block title
  title A and B galleries

block body
  button
    a(href="/gallery/new") Add Photo
  div.titleDiv
    h1 Gallery
    div#featuredPicture
      img.mainPic(src=one.link)
  div.userGallery
    //- +div(data)
    +userGalleryList(data)


