extends ./layout.pug
include ./mixins.pug
block title
  title Login
block body
  form(method="POST" action="/login")
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    button(type="submit") Login
    a(href="/logout")
      button Logout
