extends ./layout.pug
include ./mixins.pug
block title
  title A & B Galleries
block body
  div.inputBodyHolder
    div.newInputBody
      div.formDiv
        h1 Log In
        form(method="POST" action="/")
          input.loginUser(type="text" name="username" placeholder="username")
          br
          input.loginPassword(type="password" name="password" placeholder="password")
          br
          button.loginButton(type="submit") Login
          br
          a.logoutButton(href="/logout")
            button Logout
            br
        a.logoutButton(href="/create")
          button Sign Up

