extends ./layout.pug
include ./mixins.pug
block title
  title Edit

block body
  div.inputBodyHolder
    div.newInputBody
      h1 Add photo
      form.editForm(action='#' method='post')
        p author
        p #{edit}
        input.editAuthor(name="name")
        p link
        input.editLink(name="link")
        p description
        input.editDescription(name="inventory")
        br
        button.button POST
        //- button
        //-   a(href="/articles/new") Add an Article
        button
          a(href="/gallery") HOME
