extends ./layout.pug
include ./mixins.pug
block title
  title Success
block body
  div#successDiv
    h1#successTitle Thank you for creating a new username, Please log back in!
      button.button
        a(href="/") Login
      img.thumbsUp(src='/css/thumbsUp.jpg')